.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  justify-content: center;
  align-items: center;

  .image-container {
    width: 20vw;

    img {
      width: 12vw;
      height: auto;
    }
  }
  .name {
    width: 21.5vw;
  }
  .quantity {
    width: 20vw;
  }
  .price {
    width: 21.5vw;
  }

  .quantity {
    display: flex;
    justify-content: center;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
      margin-top: 2px;
    }
  }

  .remove-button {
    margin: 0 auto;
    cursor: pointer;
  }
}
